.cplus:hover {
  color: rgb(10, 10, 198);
}

.html5:hover {
  color: rgb(236,98,49);
}

.css3:hover {
  color: rgb(41, 101, 241);
}

.javascript:hover {
  color: rgb(240, 219, 79);
}

.bootstrap:hover {
  color: rgb(86, 61, 124);
}

.mysql:hover {
  color: rgb(242, 145, 17);
}

.github:hover {
  color: rgb(33, 31, 31);
}
