<section id="projects">
  <div class="conatiner-fluid h-100">
    <h2 class="text-secondary text-center title">About</h2>
    <div class="container-fluid">
      <p class="lead">Hi! I'm <span class="blue">Emiliano Correa Roger</span>, from Montevideo Uruguay. My academic journey started in 2014 when I decided to study for a Public Accountant degree.
        However, in March of 2019 I made a 180° degree change and switched my career path. I am now studying for a <span class="blue">Computer Science Bachelor's Degree</span> at <span class="blue"><a href="https://ude.edu.uy/">Universidad de la Empresa</a></span>.
        After many working roles in the finance area I am currently getting my first experience in the computeer science field at <span class="blue"><a href="http://www.inetsat.com/" target="_blank">Inetsat</a></span> as a Junior Tester.</p> <br><br>  
        <div class="card-deck">
          <div class="card bg-light">
            <div class="card-body text-center">
              <h4 class="text-center">SKILLS</h4>
                  <ul class="list-inline dev-icons">
                    <li title="C++" class="list-inline-item dev-cplus"><i class="icon-cplusplus"></i></li>
                    <li title="HTML" class="list-inline-item dev-html5"><i class="icon-html5-alt"></i></li>
                    <li title="CSS" class="list-inline-item dev-css3"><i class="icon-css3-alt"></i></li>
                    <li title="JavaScript" class="list-inline-item dev-javascript"><i class="icon-javascript-alt"></i></li>
                  </ul>
                  <ul class="list-inline dev-icons">
                    <li title="Bootstrap" class="list-inline-item dev-bootstrap"><i class="icon-bootstrap"></i></li>
                    <li title="Angular" class="list-inline-item dev-angular"><i class="icon-angular"></i></li>
                    <li title="MySQL" class="list-inline-item dev-mysql"><i class="icon-mysql-alt"></i></li>
                    <li title="Github" class="list-inline-item dev-github"><i class="fab fa-github"></i></li>
                  </ul>
                <p class="cplus">C++</p>
                <p class="html5">HTML</p>
                <p class="css3">CSS</p>
                <p class="javascript">JavaScript</p>
                <p class="bootstrap">Bootstrap</p>
                <p class="angular">Angular</p>
                <p class="mysql">MySQL</p>
                <p class="github">Github</p>
            </div>
          </div>
          <div class="card bg-light">
            <div class="card-body text-center">
              <h4 class="text-center">EDUCATION</h4>
              <p><i class="fas fa-university"></i> Universidad de la Empresa <br>
                <i class="fas fa-graduation-cap"></i> Computer Science Bachelor's Degree <br>
                <i class="fas fa-calendar-alt"></i> 2019 - Present</p>
                <p><i class="fas fa-university"></i> University of Michigan through Coursera <br>
                <i class="fas fa-graduation-cap"></i><a href="https://coursera.org/verify/specialization/C89DH6ZASH7J" target="_blank"> Web Development Specialization</a><br>
                <i class="fas fa-calendar-alt"></i> September 2020</p>
            </div>
          </div>
          <div class="card bg-light">
            <div class="card-body text-center">
              <h4 class="text-center">EXPERIENCE</h4>
              <p><i class="fas fa-briefcase"></i> Junior Tester <br>
              <i class="fas fa-building"></i> Inetsat <br>
              <i class="fas fa-calendar-alt"></i> August 2020 - Present<br>
              <p><i class="fas fa-briefcase"></i> Payouts Assistant <br>
              <i class="fas fa-building"></i> Directa24 <br>
              <i class="fas fa-calendar-alt"></i> June 2019 - February 2020<br></p>
              <p><i class="fas fa-briefcase"></i> Accounting & Reporting Assistant <br>
              <i class="fas fa-building"></i> Kuehne-Nagel <br>
              <i class="fas fa-calendar-alt"></i> August 2017 - May 2019<br></p>
            </div>
          </div>
        </div>
    </div>
    
    
  </div>
</section>