<section id="projects">
  <div class="conatiner-fluid h-100">
    <h2 class="container col-md-3 text-center pb-3 title"><span>{{ "ABOUT" | translate }}</span></h2>
    <div class="container-fluid">
      <div class="container">
        <p class="lead text-justify">{{ "HI" | translate }}<span class="blue">Emiliano Correa Roger</span>, {{ "FROM" | translate }}
          {{ "HOWEVER" | translate }}<span class="blue">{{ "COMPUTER" | translate }}</span> {{ "AT" | translate }} <span class="blue"><a href="https://ude.edu.uy/">Universidad de la Empresa</a></span>.
          {{ "AFTERMANY" | translate }}<span class="blue">{{ "TESTER" | translate }}</span> {{ "CURRENTLY" | translate }}<span class="blue">{{ "FULLSTACKDEVELOPER" | translate }}</span>.</p> <br><br>    
      </div>
        <div class="card-deck padding-bottom">
          <div class="card bg-light skills">
            <div class="card-body text-center">
              <h4 class="text-center title-card">{{ "SKILLS" | translate}}</h4>
              <div class="list-inline dev-icons row">
                <div class="col-lg-3 col-md-6">
                  <div class="list-inline-item dev-cplus"><i class="icon-cplusplus"></i></div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="list-inline-item dev-html5"><i class="icon-html5-alt"></i></div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="list-inline-item dev-css3"><i class="icon-css3-alt"></i></div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="list-inline-item dev-javascript"><i class="icon-javascript-alt"></i></div>
                </div>
              </div>
              <div class="list-inline dev-icons row">
                <div class="col-lg-3 col-md-6">
                  <div class="list-inline-item dev-bootstrap"><i class="icon-bootstrap"></i></div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="list-inline-item dev-angular"><i class="icon-angular"></i></div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="list-inline-item dev-mysql"><i class="icon-mysql-alt"></i></div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="list-inline-item dev-github"><i class="fab fa-github"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class="card bg-light education">
            <div class="card-body text-center">
              <h4 class="text-center title-card">{{ "EDUCATION" | translate }}</h4>
              <div class="row">
                <div class="col-md-12">
                  <i class="fas fa-university universidad"></i>
                </div>
                <div class="col-md-12">
                  <p>Universidad de la Empresa <br>{{ "COMPUTER" | translate }} <br>2019 - {{ "PRESENT" | translate }} </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <i class="fas fa-university universidad"></i>
                </div>
                <div class="col-md-12">
                  <p>University of Michigan {{ "ATRAVES" | translate}} Coursera <br><a href="https://coursera.org/verify/specialization/C89DH6ZASH7J" target="_blank">Web Development Specialization </a><br>{{ "SEPTEMBER" | translate }} 2020</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card bg-light experience">
            <div class="card-body text-center">
              <h4 class="text-center title-card">{{ "EXPERIENCE" | translate }}</h4>
              <div class="row">
                <div class="col-md-12">
                  <i class="fas fa-briefcase trabajo"></i>
                </div>  
                  <div class="col-md-12">
                    <p>Full Stack Developer | AG Brokers <br> {{ "JANUARY" | translate }} 2021 - {{ "PRESENTE" | translate }}</p>
                  </div>                
              </div>
              <div class="row">
                <div class="col-md-12 trabajo">
                  <i class="fas fa-briefcase"></i>
                </div>  
                  <div class="col-md-12">
                    <p>Tester Junior | Inetsat <br> {{ "AUGUST" | translate }} 2020 - {{ "NOVEMBER" | translate }} 2020</p>
                  </div>                
              </div>
              <div class="row">
                <div class="col-md-12 trabajo">
                  <i class="fas fa-briefcase"></i>
                </div>  
                  <div class="col-md-12">
                    <p>Payouts Assistant | Directa24 <br> {{ "JUNE" | translate }} 2019 - {{ "FEBRUARY" | translate }} 2020</p>
                  </div>                
              </div>
            </div>
          </div>
        </div>
    </div>
    
    
  </div>
</section>