<section id="projects">
  <div class="conatiner-fluid h-100">
    <h2 class="container col-md-3 text-center pb-3 title"><span>About</span></h2>
    <div class="container-fluid">
      <div class="container">
        <p class="lead text-justify">Hola! Hi! I'm <span class="blue">Emiliano Correa Roger</span>, from Montevideo Uruguay. My academic journey started in 2014 when I decided to study accounting.
          However, in March of 2019 I made a 180° degree change and switched my career path. I am now studying for a <span class="blue">Computer Science Bachelor's Degree</span> at <span class="blue"><a href="https://ude.edu.uy/">Universidad de la Empresa</a></span>.
          After many working roles in the finance area, I was able to have my first experience in the computeer science field at Inetsat as a <span class="blue">Junior Tester</span> and are currently working at AG Brokers as a <span class="blue">Full Stack Developer</span>.</p> <br><br>    
      </div>
              <div class="card-deck">
          <div class="card bg-light skills">
            <div class="card-body text-center">
              <h4 class="text-center title-card">SKILLS</h4>
                  <ul class="list-inline dev-icons">
                    <li title="C++" class="list-inline-item dev-cplus"><i class="icon-cplusplus"></i></li>
                    <li title="HTML" class="list-inline-item dev-html5"><i class="icon-html5-alt"></i></li>
                    <li title="CSS" class="list-inline-item dev-css3"><i class="icon-css3-alt"></i></li>
                    <li title="JavaScript" class="list-inline-item dev-javascript"><i class="icon-javascript-alt"></i></li>
                  </ul>
                  <ul class="list-inline dev-icons">
                    <li title="Bootstrap" class="list-inline-item dev-bootstrap"><i class="icon-bootstrap"></i></li>
                    <li title="Angular" class="list-inline-item dev-angular"><i class="icon-angular"></i></li>
                    <li title="MySQL" class="list-inline-item dev-mysql"><i class="icon-mysql-alt"></i></li>
                    <li title="Github" class="list-inline-item dev-github"><i class="fab fa-github"></i></li>
                  </ul>
            </div>
          </div>
          <div class="card bg-light education">
            <div class="card-body text-center">
              <h4 class="text-center title-card">EDUCATION</h4>
              <div class="row">
                <div class="col-md-12">
                  <i class="fas fa-university universidad"></i>
                </div>
                <div class="col-md-12">
                  <p>Universidad de la Empresa <br>Computer Science Bachelor's Degree <br>2019 - Present </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <i class="fas fa-university universidad"></i>
                </div>
                <div class="col-md-12">
                  <p>University of Michigan through Coursera <br><a href="https://coursera.org/verify/specialization/C89DH6ZASH7J" target="_blank">Web Development Specialization </a><br>September 2020</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card bg-light experience">
            <div class="card-body text-center">
              <h4 class="text-center title-card">EXPERIENCE</h4>
              <div class="row">
                <div class="col-md-12">
                  <i class="fas fa-briefcase trabajo"></i>
                </div>  
                  <div class="col-md-12">
                    <p>Full Stack Developer | AG Brokers <br> January 2021 - Present</p>
                  </div>                
              </div>
              <div class="row">
                <div class="col-md-12 trabajo">
                  <i class="fas fa-briefcase"></i>
                </div>  
                  <div class="col-md-12">
                    <p>Junior Tester | Inetsat <br> August 2020 - November 2020</p>
                  </div>                
              </div>
              <div class="row">
                <div class="col-md-12 trabajo">
                  <i class="fas fa-briefcase"></i>
                </div>  
                  <div class="col-md-12">
                    <p>Payouts Assistant | Directa24 <br> June 2019 - February 2020</p>
                  </div>                
              </div>
            </div>
          </div>
        </div>
    </div>
    
    
  </div>
</section>