<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand js-scroll-trigger logo" routerLink="/home" routerLinkActive="active">
        <span>E</span>
        <span class="hidden">m</span>
        <span class="hidden">i</span>
        <span class="hidden">l</span>
        <span class="hidden">i</span>
        <span class="hidden">a</span>
        <span class="hidden">n</span>
        <span class="hidden">o </span>
        <span>C</span>
        <span class="hidden">o</span>
        <span class="hidden">r</span>
        <span class="hidden">r</span>
        <span class="hidden">e</span>
        <span class="hidden">a </span>
        <span>R</span>
        <span class="hidden">o</span>
        <span class="hidden">g</span>
        <span class="hidden">e</span>
        <span class="hidden">r</span>
    </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto my-2 my-lg-0">
              <li class="nav-item nav-hover"><a class="nav-link" routerLink="/about" routerLinkActive="active">{{ "ABOUT" | translate }}</a></li>
              <li class="nav-item nav-hover"><a class="nav-link" routerLink="/projects" routerLinkActive="active">{{ "PROJECTS" | translate }}</a></li>
              <li class="nav-item nav-hover"><a class="nav-link" routerLink="/contact" routerLinkActive="active">{{ "CONTACT" | translate }}</a></li>
          </ul>
      </div>
  </div>
</nav>