 <section>
  <div class="container-fluid h-100"> 
    <h2 class="text-secondary text-center title">Projects</h2>
    <div class="row h-100 view"> 
        <div class="col-2">
            <ul class="container-fluid" *ngFor="let project of projects">
              <li>
                <a href="#">{{project.name}}</a>
              </li>
              <hr>
            </ul>
        </div> 
        <div class="col-10" *ngIf="selectedProject"> 
          <h3>{{selectedProject.name | uppercase}}</h3>
          <img src="{{selectedProject.cover}}" alt="{{selectedProject.name}}">
          <span>{{selectedProject.comment}}</span>
          <button> <a href="{{selectedProject.seeproject}}">See Project</a></button>
        </div> 
    </div> 
  </div> 
 </section>
 
