 <section id="projects">
  <div class="container-fluid h-100"> 
    <h2 class="container col-3 text-center title">Projects</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="column">
          <div class="button-image">
            <img src="../../assets/img/snakegame.jpg" class="overlay">
            <span>Multiplayer Snake Game</span>
            <a href="https://practical-bhabha-5a248a.netlify.app/" target="_blank"><button class="button see-p">See project</button></a>
            <a href="https://github.com/ecorrea95/SnakeGame" target="_blank"><button class="button see-c">See code</button></a>
          </div>
        </div>
        <div class="column">
          <div class="button-image">
            <img src="../../assets/img/lavoz.png" class="overlay">
            <span>La Voz Romántica Website</span>
            <a href="https://www.miguelangelcorrea.com/" target="_blank"><button class="button see-unique">See project</button></a>
          </div>
          <div class="button-image">
            <img src="../../assets/img/taller1.jpg" class="overlay">
            <span>Math problem solver</span>
            <a href="https://github.com/ecorrea95/Taller-I-UDE-2020" target="_blank"><button class="button see-p">See project</button></a>
            <a href="https://github.com/ecorrea95/Taller-I-UDE-2020" target="_blank"><button class="button see-c">See code</button></a>
          </div>
        </div>
      </div>
    </div>
    
  </div> 
 </section>

