li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

.social-icon {
    font-size: 3rem;
}

.earth {
    color: #00750e;
}

.whatsapp {
    color: #25D366;
}

.outlook {
    color: #0072C6;
}

.linkedin {
    color: #0e76a8;
}

.github {
    color: #333;
}

.contact {
    border-radius: 25px;
    border: 3px solid #6c6c6c;
}

.message {
    font-weight: bold;
}