/* Bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');



body {
    padding-top: 120px;
    // font-family: 'Montserrat', sans-serif!important;
    // font-family: 'Roboto', sans-serif!important;
    font-family: 'Poppins', sans-serif!important;
    // font-family: 'Noto Sans TC', sans-serif!important;
}

section {
    margin-top: -45px;
}

/*.title {
    font-family: "Arial Black", sans-serif;
    font-size: 2.5em;
    letter-spacing: -1px;
    background-color: #0531a2;
    color: white;
}*/

.container-title{
    width: 20%;
}

.title {
    position: relative;
}
