/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    padding-top: 120px;
}

section {
    margin-top: -45px;
}

/*.title {
    font-family: "Arial Black", sans-serif;
    font-size: 2.5em;
    letter-spacing: -1px;
    background-color: #0531a2;
    color: white;
}*/

.container-title{
    width: 20%;
}

.title {
    position: relative;
}
