.container-fluid {
    padding-top: 4%!important;
}

img.img-profile {
    border: 15px solid #0531a2;
    transition: 0.5s;
}
  
img.img-profile:hover {
    border: 8px solid #0531a2;
}
  
.img-profile {
    display: block;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

.home-title {
    font-family: "Arial Black", sans-serif;
    font-size: 4.5em;
    letter-spacing: -1px;
    background-color: #0531a2;
    color: white;
}
  
.name:hover {
    color: #000000;
}

.lastname {
    color: #000000!important;
}

.lastname:hover {
    color: #ffffff!important;
}
  
.subheading {
    font-size: 1.5rem;
}

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}
  
.social-icons .social-icon:hover {
    background-color: #0531a2;
}
  
.about-icon {
    transition: transform 1s;
}
  
.about-icon:hover {
    transform: rotateY(360deg) scale(1.3);
}
  