<section class="section" id="home">
  <div class="container-fluid h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <span class="d-none d-lg-block">
          <img class="img-profile rounded-circle mx-auto mb-4" src="img/profile.jpg"/>
        </span>
        <h1 class="mb-0 text-center"><span>Emiliano</span>
          <span class="mb-0 text-primary">Correa Roger</span>
        </h1>
        <div class="subheading mb-5 text-center">
          · Montevideo, Uruguay · +(598) 94 69 17 59 ·
          <a href="mailto:e.correa95@hotmail.com">e.correa95@hotmail.com</a> ·
        </div>
        <div class="social-icons text-center">
          <a class="social-icon about-icon" href="https://www.linkedin.com/in/emiliano-correa/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a class="social-icon about-icon" href="https://github.com/ecorrea95" target="_blank"><i class="fab fa-github"></i></a>
          <a class="social-icon about-icon" href="mailto:e.correa95@hotmail.com"><i class="fas fa-envelope"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>