<section id="home">
  <div class="container-fluid h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <span class="d-none d-lg-block">
          <img class="img-profile rounded-circle mx-auto mb-4" src="../../assets/img/profile.jpg"/>
        </span>
        <h1 class="mb-0 text-center titleborders container">
          <span class="firstletter">E</span>
          <span class="rest">miliano </span>
          <span class="firstletter">C</span>
          <span class="rest">orrea </span>
          <span class="firstletter">R</span>
          <span class="rest">oger </span>
        </h1>
        <div class="subheading mt-4 mb-4 text-center">
          · {{ 'FULLSTACKDEVELOPER' | translate }} ·

        </div>
        <div class="social-icons text-center">
          <a class="social-icon about-icon" href="https://www.linkedin.com/in/emiliano-correa/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a class="social-icon about-icon" href="https://github.com/ecorrea95" target="_blank"><i class="fab fa-github"></i></a>
          <a class="social-icon about-icon" href="mailto:e.correa95@hotmail.com"><i class="fas fa-envelope"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>